.thumbnail img{
    width: 100%;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}

body {
    background: url(http://i.imgur.com/K3mPv14.jpg);
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
}